.main-header {
    background: url(../images/hero-img.jpg);
    min-height: 700px;
    background-position: center;
    background-size: cover;
}
       
.main-header img {
    padding-bottom: 20px; 
}

.main-header .showcase {
    padding-top: 100px;
}

.main-header .showcase h1 {
    font-family: 'Courgette', cursive;
    font-size: 120px;
    color: #fff;
    font-weight: 700;
}

.main-header .showcase h4 {
    font-family: 'Libre Baskerville', serif;
    font-size: 50px;
    color: #fff;
    font-weight: 600;
}

.main-header .showcase h6 {
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    color: #fff;
}

.btn-book {
background: #950500;
border-radius: 20px;
padding: 15px 30px;
font-family: 'Libre Baskerville', serif;
font-size: 17px;
font-weight: 600;
}

.btn-order {
    background: #fff;
    border-radius: 20px;
    padding: 15px 30px;
    font-family: 'Libre Baskerville', serif;
    font-size: 17px;
    color: #950500;
    font-weight: 600;
}

.container .active-link {
    color: #950500;
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
    font-weight: 600;
}

.container a {
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
    font-weight: 600;
}

.container a:hover {
    color: #950500;   
}


.section-icon {
    font-family: 'Libre Baskerville', serif;
    padding-top: 50px;
    background-color: #fbe9e7;
    padding-bottom: 50px;
}

.section-icon h2 {
    font-size: 40px;
}

.section-content img{
    width: 100%;
}

.section-menu h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 40px;
}

.section-menu p {
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
    text-align: center;
}

.section-about h5 {
    font-family: 'Libre Baskerville', serif;
    font-size: 40px;
}

.section-about p {
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
    text-align: justify;
}

.section-featured h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 40px;
}

.section-featured p {
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
    text-align: center;
}

.page-footer {
    background: url(../images/footer-img.jpg);
    min-height: 300px;
    background-position: top;
    background-size: cover;
}

.page-footer h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 40px;
    text-align: center;
}

.page-footer p {
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
    text-align: center;
}

.page-footer h6 {
    font-family: 'Libre Baskerville', serif;
    font-size: 17px;
}

.footer-copyright {
    font-family: 'Libre Baskerville', serif;
    font-size: 13px;
}

.footer-copyright a {
    font-family: 'Libre Baskerville', serif;
    font-size: 13px;
}


